.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.buttons{
  display:flex;
  gap:30px;
  
}

button{
  font-family:'Verdana';
  width:100px;
  height:40px;
  background-color: aqua;
}

h2{
  font-family:'Verdana';
}

h3{
  font-family:'Verdana';
  font-weight:normal;
}